svg{
    border: rgb(2, 2, 2) 1.5px solid;
}


table{
    border-collapse: collapse;
}
table{
    border: 1.5px solid rgb(2, 2, 2);
    text-align: center;
    border-inline-style: hidden;
}
th{
    padding: 0.5rem;
    width: 5rem;
    border-top: 1.5px solid rgb(2, 2, 2);
    border-bottom: 1.5px solid rgb(0, 0, 0);
}
td{
    color: white;
    padding: 0.3rem;
}
