.leaf rect:hover{
    stroke: black;
    stroke-width: 1.5px;
    opacity: 0.35;
  }

.packcircle circle:hover{
    stroke: gray;
    stroke-width: 1.5px;

  }
  
.tooltip{
    pointer-events: none;
    background-color: white;
    box-shadow: 0 0 7px gainsboro;
    padding: .2em;
    border-radius: 5px;
    font-size: 12px;
    color: #333533;
  }
  
.tooltip:not(.visible){
    opacity: 0;
  }

.tooltip1{
    pointer-events: none;
    background-color: white;
    box-shadow: 0 0 7px gainsboro;
    padding: .2em;
    border-radius: 5px;
    font-size: 12px;
    color: #333533;
  }
  
.tooltip1:not(.visible){
    opacity: 0;
  }

svg{
  
    margin: 2%;
    display: block;
  }
.description {
    display: block;
    margin: 5%;
  }

.Titlelines {
    text-align: center;
    margin: 2%;
  }

.content {
    text-align: justify;
    font-size: 14px;
  }